Source: ethereum
Section: science
Priority: extra
Maintainer: caktux (Buildserver key) <caktux@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
               dh-golang,
               golang,
               golang-godebiancontrol-dev,
               libgmp3-dev,
               libreadline6-dev
Standards-Version: 3.9.5
Homepage: http://ethereum.org
Vcs-Git: git://github.com/ethereum/go-ethereum.git
Vcs-Browser: https://github.com/ethereum/go-ethereum

Package: ethereum
Architecture: any
Depends: ${misc:Depends},
         geth,
         console,
         bootnode,
         evm,
         disasm,
         rlpdump,
         ethtest
Description: Meta-package to install geth (CLI), console and other tools
 Meta-package to install geth (CLI), console and other tools

Package: geth
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ttf-ancient-fonts
Built-Using: ${misc:Built-Using}
Description: Ethereum CLI client.
 Ethereum CLI client.

Package: console
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ttf-ancient-fonts
Built-Using: ${misc:Built-Using}
Description: Ethereum console.
 Ethereum console.

Package: bootnode
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ttf-ancient-fonts
Built-Using: ${misc:Built-Using}
Description: Ethereum bootnode.
 Ethereum bootnode.

Package: evm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: Ethereum evm tool.
 Ethereum evm tool.

Package: disasm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: Ethereum disasm tool.
 Ethereum disasm tool.

Package: rlpdump
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: Ethereum rlpdump tool.
 Ethereum rlpdump tool.

Package: ethtest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: Ethereum ethtest tool.
 Ethereum ethtest tool.
