#!/usr/bin/make -f
# -*- makefile -*-

#export DH_OPTIONS

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Tell dh-golang that we DO need subpackages
export DH_GOLANG_INSTALL_ALL := 1

# temporary build path
export GOPATH := $(CURDIR)/obj-$(DEB_BUILD_GNU_TYPE)

# Qt 5.4 environment variables
export LD_LIBRARY_PATH := /opt/qt54/lib/x86_64-linux-gnu:/opt/qt54/lib:$(LD_LIBRARY_PATH)
export PKG_CONFIG_PATH := /opt/qt54/lib/pkgconfig:$(PKG_CONFIG_PATH)

override_dh_auto_build:
	go build -v github.com/ethereum/go-ethereum/cmd/ethereum
	go build -v github.com/ethereum/go-ethereum/cmd/mist

# just install binaries and copy assets
override_dh_auto_install:
	mkdir -p debian/tmp/usr/share/mist
	cp -a github.com/ethereum/go-ethereum/cmd/mist/assets/* debian/tmp/usr/share/mist/

override_dh_auto_test:

%:
	dh $@ --buildsystem=golang --with=golang
