#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
export DEB_DH_MAKESHLIBS_ARG=--ignore-missing-info

%:
	dh $@

override_dh_auto_configure:
	qmake

override_dh_auto_build:
	make -j$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))

override_dh_auto_install:
	make install INSTALL_ROOT=$(CURDIR)/debian/tmp
	make INSTALL_ROOT=$(CURDIR)/debian/tmp install_html_docs
