#!/usr/bin/make -f
# -*- makefile -*-

#export DH_OPTIONS

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Tell dh-golang that we DO need subpackages
export DH_GOLANG_INSTALL_ALL := 1

# temporary build path
export GOPATH := $(CURDIR)/obj-$(DEB_BUILD_GNU_TYPE):$(CURDIR)/obj-$(DEB_BUILD_GNU_TYPE)/src/github.com/ethereum/go-ethereum/Godeps/_workspace

override_dh_auto_build:
	go build -v github.com/ethereum/go-ethereum/cmd/ethereum
	# go build -v github.com/ethereum/go-ethereum/cmd/mist

override_dh_auto_install:
	# just install binaries and copy assets
	mkdir -p debian/tmp/usr/share/mist
	cp -a github.com/ethereum/go-ethereum/cmd/mist/assets/* debian/tmp/usr/share/mist/

override_dh_auto_test:

%:
	dh $@ --buildsystem=golang --with=golang
